[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
requests = "*"
schedule = "*"
flask = "*"
cachetools = "*"
flask-restful = "*"
python-dotenv = "*"
gunicorn = "*"
aiohttp = "*"
python-dateutil = "*"
backoff = "*"
dateparser = "*"


[dev-packages]

[requires]
python_version = "3.9"
