[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
requests = "*"
schedule = "*"
flask = "*"
cachetools = "*"
Flask-RESTful = "*"
python-dotenv = "*"
gunicorn = "*"
aiohttp = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.9"
